#h1{
	font-size:50px;
	margin-top: -20px;
}
#carousel-example-generic{
	width: 35%;
}

.menuv{
	float: right;
	
}
#accordion{
	
	
}
#divlb{
	width: 100%;
	height: 300px;
	
	
}
#nr{
	height: 500px;
}
.divsy{
	width: 50%;
	float: left;
}
#xzbg{
	position: absolute;
}
.xz{
	margin-top: 60px;
}
.lbt{
	
}
.lbtn{
	margin-top:20px ;
	margin-left:20px ;
	
	
}
.xwnr{
	position: inherit;
	width: 75%;
	
	margin-top:30px ;
	
}
.gdnr{
	margin-top: 10px;
	float: right;
}




































/*#menu{
	position:absolute;
	width: 60%;
	height: 250px;
	margin-top:-10px ;
	background-color: #000000;
	float: left;
	border-radius: 10px;
}
#divt{
	float: right;
	width: 400px;
	height: 600px;
}
#pid1{
	line-height:80px;
	font-size: 45px;
}
.img1{
	opacity: 1;
	width: 100px;
	height: 100px;
	background-position: center;
}*/